* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(4, 4, 142);
    color: white;
    font-family: "Poppins", serif;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    z-index: 1000;
    background-color: rgb(3, 3, 103);

}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    border: 2px solid white;
    padding: 5px;
    border-radius: 20px;

    list-style: none;
    margin: 0 23px;
    font-size: medium;
    font-size: 1.2rem;
    transition: transform .2s;


}

nav ul li:hover {
    transform: scale(1.5);
    background-color: white;


}

nav ul li a {
    text-decoration: none;
    color: white;



}

nav ul li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;

}


.left h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin: 0;
}

.text-color {
    color: grey;
}

main hr {
    border: 0;
    background: lavender;
    height: 1.2px;
    margin: 60px;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23vh 0;
}

.first-section > div {
    width: 30%;
}

.left-section {
    width: 1.3rem;
    font-size: 1.9rem;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 5vh;

}

.left-section button {
    position: relative;
    margin: 5px;
    color: white;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid white;
    padding: 8px;
    border-radius: 35px;
    top: 2vh;
    cursor: pointer;
    transition: transform .2s;
}

.left-section button:hover {
    transform: scale(1.5);
    background-color: white;
    color: black;
    font-weight: bold;
}


.right-section img {

    width: 30rem;
    height: 30rem;
}

.purple {
    color: rgb(255, 0, 230);
    font-weight: bold;
}



.project {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
}

.project h1 {
    font-size: 1.8rem;
    font-weight: normal;
}

.project .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.project .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 200px;


}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    width: 150px;
    font-size: 12px;
    color: grey;
}

.img-top {
    position: relative;
    width: 65px;
    top: -50px;
    left: -30px;
}

footer {
    display: flex;
    height: 20vh;
    background: rgb(18, 7, 82);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.forth-footer {
    text-align: center;
    color: grey;
    padding: 12px 0;
    margin: 60px;
    margin-left: 400px;
}